<!--su=signup, this is the signup footer (also the only footer)-->
<footer>
    <nav class="navbar navbar-expand-lg bg-twitch">
        <div class="container-fluid position-relative">
            <nav class="navbar-brand p-2">
                <img src="assets/footercat.png" id="coolcat">
            </nav>

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <b>Join the Twitch community!</b>

                    Discover the best live streams anywhere.
                </li>
            </ul>
        </div>
        <div class="container-fluid position-relative">
            <button class="nav-item ms-auto btn btn-signup">Sign Up</button>
        </div>
    </nav>
</footer>