<div class="card mb-4">
<div class="container">
    <div class="row-1">
        <img src={{preview}} class="card-img-top" alt="uh oh">
    </div>
    <div class="row">
        <div class="col-2 me-2">
            <img src={{pfp}} class="pfp">
        </div>
        <div class="col">
            <div class="row title">
                {{streamTitle}}
            </div>
            <div class="row other">
                {{streamerName}}
            </div>
            <div class="row other">
                {{game}}
            </div>
            <div class="row other">
            Tags here
            </div>
        </div>
    </div>
  </div>
  </div>