<nav class="navbar navbar-expand-lg bg-twitch">
    <div class="container-fluid position-relative">
        <nav class="navbar-brand">
            <a class="navbar-brand" href="#">
                <svg class="bi bg-twitch" width="32" height="32" fill="#A970FF">
                    <use xlink:href="/assets/bootstrap-icons.svg#twitch" />
                </svg>
            </a>
        </nav>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link nav-twitch" href="directory">
                    Browse
                </a>
            </li>
            <li class="nav-item mx-4 my-auto">
                <a class="nav-link nav-twitch" href="settings">
                    <svg class="bi bg-twitch" width="32" height="32" fill="white">
                        <use xlink:href="/assets/bootstrap-icons.svg#three-dots-vertical" />
                    </svg>
                </a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control bg-twitch" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-twitch" id="login" type="submit">
                <svg class="bi bg-twitch" width="24" height="32" fill="white">
                    <use xlink:href="/assets/bootstrap-icons.svg#search" />
                </svg></button>
        </form>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link nav-twitch">
                    <img src="assets/crown.png">
                </a>
            </li>
            <li class="nav-item mx-2">
                <button type="button btn-twitch" id="login" class="btn bg-twitch my-auto">
                    Log in
                </button>
            </li>
            <li class="nav-item">
                <button type="button btn-twitch" id="signup" class="btn bg-twitch my-auto">
                    Sign Up
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-twitch" href="directory">
                    <svg class="bi bg-twitch" width="24" height="32" fill="white">
                        <use xlink:href="/assets/bootstrap-icons.svg#person" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</nav>