.bg-twitch {
    background-color: #18181B;
}

.nav-twitch {
    color: white;
    display: inline;
    box-shadow: 5px;
}

.twitch {
    font-size: 12px;
}

.btn-twitch {
    border: none;
    background-color: #18181B;
    display: inline-block;
}

.form-twitch {
    width: 355px;
    height: 36px;
    background-color: #3D3D40;
    border: 0px;

}

.form-twitch:focus {
    background-color: black;
    border:none;
    color:white;
}
.dropdown-item-text{
    color:#ADADB8;
}

.dropdown-item{
    color:white;
    padding-left:10%;
    font-size:small;
}

.dropdown-item:hover{
    background-color:#38383F;
}

.dropdown-menu{
    background-color:#1F1F23;
}

.dropdown-divider{
    background-color:#38383F
}

.modal-content{
    background-color:#18181B;
    color:white;
}

#browse:hover{
    color:#B594FF;
    transition-duration: 0;
}

#signup {
    background-color: #9147FF;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0s;
}

#loginInput{
    background-color:#3D3D40;
    border:none;
    color:white;
}

#signup:hover {
    background-color: #772CE8;
}

#login {
    background-color: #2A2A2D;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0s;
}

#loginBtn{
    background-color:#9147FF;
    color:white;
}

#login:hover {
    background-color: #363639;
}

#srch {
    background-color: #2A2A2D;
    width: 24px;
    height: 24px;
    color:white;
}

#srch-btn {
    display: inline-flex;
    background-color: #2A2A2D;
    width: 34px;
    height: 36px;
    margin-left: -10px;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#prime {
    width: 20px;
    height: 20px;
    padding: right 10px;
}