h1{
    font-weight:bold;
    font-size:3.25rem;
    margin-left:1.5%;
    margin-top:.9%;
}

.other{
    margin-left:1.5%;
    margin-top: .25%;
    font-size:.8rem;
    color:#9F9FA9;
}

.RowDesc{
    font-weight:600;
    margin-left:1.5%;
    margin-top:1%;
    font-size:1.2rem;
}

.Apps{
    margin-left:1.5%;
    margin-top:1%;
}