<div class="card mb-4">
    <div class="container">
        <div class="row-1 position-relative">
            <a routerLink="/Channel-page"><img src={{preview}} class="card-img-top" alt="uh oh"></a>
            <span class="position-absolute top-0 start-100 badge" id="uptime">{{uptime}}</span>
            <span class="position-absolute top-100 start-0 badge" id="viewers">{{viewers}} viewers</span>
            <span class="position-absolute top-0 start-0 badge" id="LIVE">LIVE</span>
        </div>
        <div class="row">
            <div class="col-2 me-2">
                <img src={{pfp}} class="pfp">
            </div>
            <div class="col">
                <div class="row title">
                    {{streamTitle}}
                </div>
                <div class="row other">
                    {{streamerName}}
                </div>
                <div class="row other">
                    {{game}}
                </div>
                <div class="row other">
                    <!--READ RELEASE NOTES, TAGS NOT IMPLEMENTED YET-->
                </div>
            </div>
        </div>
    </div>
</div>